.BackToHomeButtonContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.BackToHomeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-blue);
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid var(--primary-blue);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.BackToHomeButton:hover {
  background-color: white;
  color: var(--primary-blue);
}

